/* ===FONTS=== */


@font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/raleway-v29-latin-regular.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/raleway-v29-latin-italic.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v29-latin-700.woff2') format('woff2'); 
  }

  @font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 700;
    src: url('../fonts/raleway-v29-latin-700italic.woff2') format('woff2'); 
  }

  /* === GLOBAL=== */

:root {
    --dunkel-lila:        #2f1340;
    --primaere-schriftart: Raleway;
    --sekundaere-schriftart: "Helvetica Neue";
    --tertiaere-schriftart: Arial;
    --fallback-schriftart: sans-serif;
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: var(--primaere-schriftart, --sekundaere-schriftart, --tertiaere-schriftart, --fallback-schriftart);
}

* {
    box-sizing: border-box;
}

/* ===GLOBAL=== */

.text {
  text-align: center;
  color: white;
  font-size: 1.5rem;
}

.btn-typ-1 {
  background-color:#732e9b;
  text-decoration: none;
  border: 2px solid #4b1e66;
  border-radius: 20px;
  color: #FFF;
  padding: .4rem .6rem;
  transition: border .3s ease-in-out;
}

.btn-typ-1:hover {
  border: 2px solid #FFF;
  color: #FFF;
  padding: .4rem .6rem;
}

.noselect {
  -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none; 
            user-select: none; 
}




/* === HEADER DESKTOP === */

.header-nav-desktop {
    display: grid;
    grid-template-areas: "logo button test";
    grid-template-columns: 1fr 30rem 3%;
    grid-template-rows: 50px;
    background-color: #2f1340;
    color: white;
  }

.header-nav-desktop > ul > li > a {
    text-decoration: none;
    color: white;
    padding: .9rem;
    border-radius: 10px;

}

.header-nav-desktop ul {
    grid-area: button;
    list-style-type: none;
  }

.header-nav-desktop > ul > li {
    display: inline;

}

.header-nav-desktop > #logo {
    font-size: 1.5rem;
    padding: .6rem 3rem;
    grid-area: logo;
}

.header-nav-desktop .active {
    background-color: #771e6b;
}

/* === HEADER MOBILE === */

.header-nav-mobile {
    display: grid;
    grid-template-areas: "logo button test";
    grid-template-columns: 1fr 13.1rem 3%;
    grid-template-rows: 50px;
    background-color: #2f1340;
    color: white;
  }

.header-nav-mobile a {
    text-decoration: none;
    color: white;
    padding: .9rem;
    border-radius: 10px;

}


.header-nav-mobile > #logo {
    font-size: 1.5rem;
    padding: .6rem .4rem;
    padding-right: 0;
    grid-area: logo;
}

.header-nav-mobile .active {
    background-color: #4b1e66;
}

.dropbtn {
    grid-area: button;
    background-color: #4b1e66;
    color: white;
    padding: .2rem .9rem;
    font-size: 32px;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    float: right;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2f1340;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #732e9b;
  }

@media (max-width: 768px) {

    .header-nav-desktop {
        display: none;
    }

}

@media (min-width: 769px) {

  .header-nav-mobile {
    display: none;
  }

}


/* === SHOWCASE === */

.showcase-container {
  display: grid;
  grid-template-areas: "Minecraft Scratch Placeholder";
  grid-template-columns: 1fr 1.2fr 1fr;
  grid-template-rows: auto;
  background-color: #4d2068;
}

.showcase-container > div {
  margin: 1rem;
  min-height: 800px;
  border: 5px solid #732e9b;
  border-radius: 20px;
  background-color: #2f1340;
}

#showcase-box-1 {
  grid-area: Minecraft;
  display: grid;
  grid-template-rows: 100px auto auto 70px;
}

#showcase-box-2 {
  grid-area: Scratch;
  display: grid;
  grid-template-rows: 100px auto auto 70px;
}

#showcase-box-3 {
  grid-area: Placeholder;
  display: grid;
  grid-template-rows: 100px auto auto 70px;
}

div > img {
  width: 60%;
  height: auto;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
}

#showcase-box-1 > a,#showcase-box-2 > a,#showcase-box-3 > a {
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

#showcase-box-1 > p,#showcase-box-2 > p,#showcase-box-3 > p {
margin: .5rem;
}

@media (max-width: 1260px) {

  .text {
    font-size: 1rem;

  }

  .showcase-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #showcase-box-1 {
    grid-area: Minecraft;
    display: grid;
    grid-template-rows: 100px 350px auto 70px;
  }
  
  #showcase-box-2 {
    grid-area: Scratch;
    display: grid;
    grid-template-rows: 100px 350px auto 70px;
  }
  
  #showcase-box-3 {
    grid-area: Placeholder;
    display: grid;
    grid-template-rows: 100px 350px auto 70px;
  }

  .showcase-container > div {
    min-height: 700px;
  }
}


@media (max-width: 1024px) {
  .text {
    font-size: 1rem;

  }

  .showcase-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  

  #showcase-box-1 {
    grid-area: Minecraft;
    display: grid;
    grid-template-rows: 70px 250px auto 70px;
  }
  
  #showcase-box-2 {
    grid-area: Scratch;
    display: grid;
    grid-template-rows: 70px 250px auto 70px;
  }
  
  #showcase-box-3 {
    grid-area: Placeholder;
    display: grid;
    grid-template-rows: 70px 250px auto 70px;
  }

  .showcase-container > div {
    min-height: 600px;
  }
}

@media (max-width: 768px) {
  .showcase-container {
    display: grid;
    grid-template-areas: "Scratch" "Minecraft" "Placeholder";
    grid-template-columns: 1fr;
    background-color: #4d2068;
  }
  
  .text {
    font-size: 1.3rem;

  }

  div > img {
    height: 80%;
    width: auto;
  }
  

  #showcase-box-1 {
    grid-area: Minecraft;
    display: grid;
    grid-template-rows: 70px 300px auto 70px;
  }
  
  #showcase-box-2 {
    grid-area: Scratch;
    display: grid;
    grid-template-rows: 70px auto 300px 70px;
  }
  
  #showcase-box-3 {
    grid-area: Placeholder;
    display: grid;
    grid-template-rows: 70px 300px auto 70px;
  }

  .showcase-container > div {
    min-height: 600px;
  }

}

@media (max-width: 480px) {
  #showcase-box-1 {
    grid-area: Minecraft;
    display: grid;
    grid-template-rows: 70px 300px auto 70px;
  }
  
  #showcase-box-2 {
    grid-area: Scratch;
    display: grid;
    grid-template-rows: 70px auto 300px 70px;
  }
  
  #showcase-box-3 {
    grid-area: Placeholder;
    display: grid;
    grid-template-rows: 70px 300px auto 70px;
  }

  .showcase-container > div {
    min-height: 700px;
  }
}



@media (max-width: 360px) {
  #showcase-box-1 {
    grid-area: Minecraft;
    display: grid;
    grid-template-rows: 70px 300px auto 70px;
  }
  
  #showcase-box-2 {
    grid-area: Scratch;
    display: grid;
    grid-template-rows: 70px auto 300px 70px;
  }
  
  #showcase-box-3 {
    grid-area: Placeholder;
    display: grid;
    grid-template-rows: 70px  300px auto 70px;
  }

  .showcase-container > div {
    min-height: 650px;
  }
}

/* ===scratch embed=== */

  .scratch-container {
    display: grid;
    grid-template-areas: "text1 Scratch text2";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    background-color: #4d2068;
    gap: 10px;
  }

  #scratch-embeded {
    grid-area: Scratch;
    width: 100%;
    height: 47.7rem;
    border: 5px solid #732e9b;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #scratch-text1, #scratch-text2 {
    color: white;
    border: 5px solid #732e9b;
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
    padding: 1rem;
    background-color: #2f1340;
    font-size: 1.3rem;
  }

  #scratch-text1 > h1, #scratch-text2 > h1 {
    font-size: 2.3rem;
  }

  #scratch-text1 {
    grid-area: text1;
    margin-left: 1rem;
  }

  #scratch-text2 {
    grid-area: text2;
    margin-right: 1rem;
  }


.mobile-message {
  display: none;
}

@media ( max-width: 1260px ) {
  .scratch-container {
    display: grid;
    grid-template-areas: "text1" "Scratch" "text2";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto 1fr;
    background-color: #4d2068;
    gap: 0;
  }

  #scratch-text1, #scratch-text2 {
    margin-top: 1.4rem;
    margin-bottom: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    background-color: #2f1340;
    font-size: 1.3rem;
  }

}

@media (max-width: 768px) {
  .scratch-container {
    display: grid;
    grid-template-areas: "text1";
    grid-template-columns: 1fr;
    gap: 0;
  }
  
  #scratch-embeded {
    display: none;
  }

  #scratch-text1 {
    display: none;
  }

  #scratch-text2 {
    grid-area: text1;
    width: 90%;
    font-size: 2rem;
    min-height: 800px;
    margin: 1rem auto;
  }

  .mobile-message {
    display: block;
    text-align: center;
    background-color: #771e6b;
    margin: 0;
    color: red;
    font-size: 1.2rem;
  }
}


/* ===Über mich bereich=== */

#info-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 70px auto 50px;
  min-height: 500px;
  background-color: #2f1340;
}

#info-container > div > h1 {
  font-size: 2.5rem;
}

#info-container > div > p {
  color: white;
  font-size: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #732e9b;
  border-radius: 25px;
  padding: 15px;
  background-color: #4c1e668f;
  width: 90%;
  height: 100%;
}

.spacer {
  background: rgb(47,19,64);
  background: linear-gradient(0deg, rgba(47,19,64,1) 24%, rgba(77,32,104,1) 100%);
}

/* ===Kenntnisse Seite=== */

.kenntnisse-container {
  display: grid;
  background-color: #4b1e66;
  grid-template-areas: "überschrift text" "bild text";
}

.kenntnisse-text {
  grid-area: text;
  text-align: left;
  color: white;
  font-size: 1.5rem;
  border: 5px solid #732e9b;
  background-color: #2f1340;
  border-radius: 25px;
  padding: 0 1.5rem; 
  margin: 1rem;
}

.kenntnisse-bild {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
  .kenntnisse-container {
    display: grid;
    background-color: #4b1e66;
    grid-template-areas: "überschrift" "text";
  }
  
  .kenntnisse-bild {
  display: none;
  }

  .kenntnisse-text {
    grid-area: text;
    text-align: left;
    color: white;
    font-size: 1.4rem;
    padding: 0 1rem; 
    margin: .5rem;
  }
}

/* ===footer=== */

#footer-container {
  display: grid;
  height:auto;
  width: 100%;
  background-color: #1d0d27;
  grid-template-areas: "text space source";
}

#footer-container p {
  grid-area: text;
  text-align: left;
  margin-left: 10px;
  font-size: 1rem;
}

#footer-container a {
  grid-area: source;
  text-align: right;
  font-size: 1rem;
  margin: auto 2rem;
}





